body{
    font-family: Poppins,sans-serif;
    background-color: rgb(230, 230, 230);
}

.container{
    background: #1c1c1c;
    width: 340px;
    height: 400px;
    margin: 100px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.header h4{
    color: aliceblue;
    text-align: center;
    font-size: 2em;
    margin: 1em;
}
.container div, .form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.input-single{
    width: 50%;
    margin: 2%;
    border-radius: .9em;
    padding: .65em;
    border: none;
    text-align: center;
    outline: none;
    transition: width 0.3s;
    font-family: Poppins,sans-serif;
}
.button{
    background-color: rgba(200, 200, 200, 0.5);
    font-size: 1em;
    color: whitesmoke;
    max-width: 50%;
}
.button:hover{
    background-color: rgba(200, 200, 200, 0.7);
}
.button:focus{
    background-color: rgba(200, 200, 200, 0.7);
}
.input-single:focus{
    width: 70%;
    border: 1px solid #534c49;
}
.input-single:hover{
    width: 70%;
}
div > a{
    text-decoration: none;
    color: rgba(200, 200, 200, 0.7);
}
div > a:hover{
    color: rgba(200, 200, 200, 0.99);
}
@media screen and (min-device-width:240px) and (max-device-width:500px){
    .container{
        background: #1c1c1c;
        width: 94%;
        height: 500px;
        margin: 0 auto;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }    
}

